@{
    ViewData["Title"] = "地图";
}
<h2>@ViewData["Title"].</h2>


<div id="hsmap" style="width:335px;height:185px;background-image:url(/images/hsMap.png);background-size: 100% 100%;position:relative;cursor:pointer">
    <div id="hsmap_guibeicun" style="width:20px;height:20px;position:absolute;top:68px;right: 168px;background-size: 100% 100%;"></div>
    <div id="hsmap_louchong"  style="width:20px;height:20px;position:absolute;top:50px;right: 125px;background-size: 100% 100%;"></div>
    <div id="hsmap_nanshan"  style="width:20px;height:20px;position:absolute;top:97px;right: 155px;background-size: 100% 100%;"></div>
</div>

@section Scripts{
    <script src="/js/jquery.jsonp.js"></script>
<script>
    $(document).ready(function(){ 
    　　$("#hsmap").click(function(){ 　
        window.open("http://123.207.253.208:8081");
    　　}); 
    hsmap.getAQIData();
    }); 
var hsmap={};
hsmap.getAQIData = function()
{
    // $.getJSON("http://123.207.253.208:8081/Service/RealTime",function(result){
    //     if(result!=null && result.length>0){
    //         $.each(result,function(i,obj){
    //             hsmap.geturl(obj);
    //             switch(obj.StationID){
    //                 case 1:
    //                     $("#hsmap_guibeicun").css("background-image","url("+hsmap.url+")");
    //                 break;
    //                 case 2:
    //                     $("#hsmap_louchong").css("background-image","url("+hsmap.url+")");
    //                 break;
    //                 case 3:
    //                     $("#hsmap_nanshan").css("background-image","url("+hsmap.url+")");
    //                 break;
    //             }
    //         })
    //     }
    // })

    $.jsonp({
        "url": "http://123.207.253.208:8081/Service/RealTime?callback=?",
        "success": function(data) {
            alert("success!")
        },
        "error": function(d,msg) {
            alert("Could not find user "+msg);
        }
    });
}
hsmap.geturl = function(m) {
                var url = "";
                switch (m.HourAirLevel) {
                    case "优":
                        url = "/Images/level/level1.png";
                        break;
                    case "良":
                        url = "/Images/level/level2.png";
                        break;
                    case "轻度污染":
                        url = "/Images/level/level3.png";
                        break;
                    case "中度污染":
                        url = "/Images/level/level4.png";
                        break;
                    case "重度污染":
                        url = "/Images/level/level5.png";
                        break;
                    case "严重污染":
                        url = "/Images/level/level6.png";
                        break;
                    default:
                        url = "/Images/level/level7.png";
                        break;
                }
                hsmap.url=url;
                //return url;
            }

</script>
}
